@import url("style.css");

/* Estilo específico da página vai aqui */
body > article {
  background-image: url("../imgs/galeria.jpg");
}

section.card {
  display: flex;
}

section.card > img {
  margin-right: 1.25rem;
  height: 8rem;
}

section.card > article > ul {
  list-style: none;
}
